/* Подключение шрифта Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Применение шрифта Montserrat к элементам */
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
